@media (max-width: 576px) {
    .NavLink.mobile {
        text-align: center;
        color: white;
        font-size: 28px;
        display: none;
    }

    .NavLink.mobile.expanded {
        display: block;
        margin-bottom: 15px;
    }
    
    .NavLink.desktop {
        display: none;
    }
}

@media (min-width: 577px) {
    .NavLink.desktop {
        font-size: 32px;
        color: #afafaf;
        margin-bottom: 8px;
    }

    .NavLink.mobile {
        display: none;
    }
}