.ProjectItem {
    display: flex;
    margin-bottom: 60px;
}

.ProjectItem.right {
    display: flex;
    flex-direction: row-reverse;
}

.project-image {
    flex-grow: 1;
    max-width: 700px;
}

.project-info {
    width: 350px;
    margin-left: 20px;
}

.right .project-info {
    margin-right: 20px;
    margin-left: 0px;
}

.project-title {
    font-size: 47px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.project-link {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.project-link i {
    font-size: 30px;
    margin-right: 7px;
}

.project-description {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 18px;
}