.main-container {
  display: flex;
}

.content {
  margin-left: 200px;
  flex-grow: 1;
}

.fade-appear {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.fade-exit {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (max-width: 576px) {
  .main-container {
    flex-direction: column;
  }

  .content {
    margin-left: 0px;
    margin-top: 40px;
  }
}