.About  {
    color: #afafaf;
    flex-grow: 1;
}

.About h1::selection {
    color: white;
    background-color: #27ae60;
}

.highlight::selection {
    color: white;
    background-color: #27ae60;
}

.highlight {
    color: #27ae60;
}

@media (max-width: 576px) {
    .About {
        padding-top: 20px;
    }
}