.Experience {
    margin-bottom: 50px;
}

.experience-header {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.experience-header-icon {
    border-radius: 50%;
    width: 65px;
    margin-left: -95px;
}

.experience-header-info {
    margin-left: 30px;
}

.experience-header-position::selection {
    color: white;
    background: #3498db;
}

.experience-header-org {
    color: #3498db;
    font-size: 20px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.experience-header-org::selection {
    color: white;
    background: #3498db;
}

.experience-header-details.desktop {
    margin-left: auto;
}

.experience-header-details.mobile {
    display: none;
}

.experience-header-details-text {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #afafaf;
    font-size: 21px;
}

.experience-header-details-text::selection {
    color: white;
    background: #3498db;
}

.experience-description {
    margin-bottom: 20px;
}

.experience-description::selection {
    color: white;
    background: #3498db;
}

@media (max-width: 576px) {
    .Experience {
        margin-bottom: 50px;
    }

    .experience-header-details.desktop {
        display: none
    }
    
    .experience-header-details.mobile {
        display: block;
        margin-bottom: 10px;
    }

    .experience-header-details-text {
        font-size: 18px;
    }
    
    .experience-header {
        margin-bottom: 0px;
    }

    .experience-header-org {
        font-size: 18px;
    }

    .experience-header-icon {
        border-radius: 50%;
        width: 55px;
        min-width: 55px;
        margin-left: -75px;
    }

    .experience-header-info {
        margin-left: 20px;
    }

    .experience-description {
        font-size: 18px;
    }
}